.add-tour-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  padding: 0px 0px 0px 50px;
}

.form-image-container {
  height: 100%;
}

.form-container {
  flex: 1;
}
.form-title {
  font-weight: 600 !important;
  color: #202445;
  margin-bottom: 30px !important;
}

.form-confirm-button {
  background-color: #ff6347 !important;
  width: 77%;
  color: white;
  border-radius: 12px !important;
  margin-top: 24px !important;
  padding: 12px 0 !important;
  font-size: 16px !important;
  text-transform: none;
}

.form-confirm-button:hover {
  background-color: #e55347;
}
/* Form Styles */
.form-fields {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
}
.form-group-upper {
  width: 70%;
}

.form-group-row {
  display: flex;
  gap: 16px;
  width: 85%;
}

@media (max-width: 1024px) {
  .add-tour-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .form-group-row {
    flex-direction: column;
  }
  .form-input {
    width: 100% !important;
  }
  .form-select {
    width: 100% !important;
  }
  .form-group-row {
    width: 100%;
  }
  .form-confirm-button {
    width: 100%;
    margin-bottom: 20px !important;
  }
}

.form-label {
  font-size: 18px;
  font-weight: 400;
  color: #999999;
  margin-bottom: 8px;
}

.form-input {
  padding: 12px;
  width: 75%;
  font-size: 14px;
  border: 1px solid #e1e1e1;
  border-radius: 12px;
  outline: none;
}

.form-input:focus {
  border-color: #f16b51;
}

.form-select {
  width: 77%;
  font-size: 14px;
  border-radius: 12px !important;
}

button[type="submit"] {
  margin-top: 24px;
}

.error-message {
  color: #ff0000;
  font-size: 12px;
  margin-top: 4px;
}

.form-right-img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
}
