.outer-wrapperr {
  background-image: url("../../assets/images/bgExploreTour.svg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-date-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
}
.middle-headings {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #333 !important;
}
.middle-sub-headings {
  font-size: 14px !important;
  color: #999 !important;
  margin-top: 4px !important;
  margin-left: 25px !important;
}
.middle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  margin: auto;
  border-radius: 12px !important;
  z-index: 2;
}
.bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.explore-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  position: relative;
}

.chip-design {
  border: 1px solid #e1e1e1 !important;
  border-radius: 12px !important;
  min-height: 30px;
  font-size: 20px;
}

@media (max-width: 900px) {
  .explore-page-container {
    height: 90vh;
  }
}
@media (max-width: 600px) {
  .explore-page-container {
    height: 110vh;
  }
}

.css-iwtkcv-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: #f16b5133 !important;
}
@media (max-width: 700px) {
  .location-date-box {
    width: 100%;
    flex-direction: row !important;
    justify-content: space-between !important;
    margin-bottom: 16px !important;
  }
  .middle-container {
    flex-direction: column;
  }
  .button-search {
    width: 100%;
  }
  .outer-wrapperr {
    height: 60%;
  }
}
