.tours-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 50px;
}

.tours-images-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 20px;
  padding: 50px;
}

.card-lower-container {
  display: flex;
  margin: 20px 0px 30px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.complete-card-container {
  border-radius: 10px !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.complete-card-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.complete-card-container:hover .buttons-icon {
  display: flex;
  transition: all 5.3s ease;
}
.complete-card-container:hover .price-duration {
  display: none;
  transition: all 5.3s ease;
}

.image {
  width: 100%;
  height: 100%;
}
.image-container {
  width: 100%;
}
.buttons-icon {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

.price-duration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  height: 60px;
}
.delete-icon {
  width: 36px;
  height: 37px;
  align-self: center;
}
.no-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 70vh;
}
.no-data-container p {
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
  color: #797c9a;
  width: 35%;
  text-align: center;
}
@media (max-width: 790px) {
  .tours-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .tours-header p {
    font-size: 25px;
    text-align: center;
  }
  .tours-images-container {
    padding: 25px;
  }
}

@media (max-width: 400px) {
  .tours-header {
    width: 100%;
  }
  .tours-header p {
    font-size: 20px;
    text-align: center;
  }
  .tours-images-container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
