.details-main-container {
  padding: 0px 40px;
}
.detail-sub-header {
  display: flex;
  flex-direction: row;
  width: 45%;
  justify-content: space-between;
}

.details-sub-header-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #797c9a;
}

.icon-common-styles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}

.large-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.small-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.small-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.details-paragraphs-container {
  margin-top: 24px;
  padding: 0 16px;
}

.details-paragraphs-container p {
  text-align: center;
  color: #555;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

/* What's Included Section */
.included-section {
  margin-top: 32px;
}

.included-section h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

/* Table Structure css */
.included-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

.included-table th,
.included-table td {
  padding: 12px 300px 12px 16px;
}
.bold-text {
  line-height: 30px;
  font-size: 20px;
  font-weight: 600;
}

.included-table th {
  font-weight: 600;
  background-color: #f9f9f9;
}

.included-table td {
  border-bottom: 1px solid #e0e0e0;
}

.included-table .icon-cell {
  padding: 16px 20px 16px 0px;
}

.icon-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 16px;
}

.icon-grid .MuiTypography-root {
  display: flex;
  align-items: center;
  gap: 8px;
}

.included-table .icon-cell img {
  width: 16px;
  height: 16px;
}

/* Tablet Design */
@media (max-width: 768px) {
  .included-table th,
  .included-table td {
    padding: 8px;
    font-size: 14px;
  }
  .details-heder-text {
    text-align: center;
    font-size: 30px !important;
  }

  .detail-sub-header {
    width: 100%;
  }
  .icon-grid {
    grid-template-columns: 1fr;
  }

  .included-table .icon-cell {
    padding: 0px;
  }
  .book-now-container button {
    width: 75% !important;
  }

  .details-sub-header-text {
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    color: #797c9a !important;
  }
  .icon-outer-container {
    width: 26px;
  }
  .details-paragraphs-container p {
    font-size: 14px;
  }
}

/*What's included CSS + itinerary CSS */
.included-section,
.itinerary-section {
  margin-top: 32px;
}

.itinerary-section h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
  line-height: 60px;
}

.itinerary-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  margin-top: 16px;
}

.itinerary-card {
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.itinerary-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.itinerary-card-header {
  display: flex;
  justify-content: space-between;
}

.itinerary-card h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 8px;
}

.itinerary-card p {
  margin-bottom: 16px;
}

.itinerary-card ul {
  text-align: left;
  padding-inline-start: 20px;
}

.itinerary-card ul li {
  line-height: 2;
}
.temperature-display {
  display: flex;
  align-items: center;
  gap: 8px;
}

.book-now-container {
  text-align: center;
  margin-top: 32px;
}

.book-now-container button {
  background-color: #f16b51;
  color: #fff;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  width: 25%;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.book-now-container button:hover {
  background-color: #f16b51;
}
